<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="featuresConfiguration" type="StrangeVanilla.Framework.Feature.Configuration.FeaturesConfiguration, StrangeVanilla.Framework.Feature" />
	</configSections>

	<featuresConfiguration>
   		<features>
      		<feature name="on_feature" ison="true" />
      		<feature name="off_feature" ison="false" />
	   	</features>
	</featuresConfiguration>
</configuration>
